.profile {
	.profile_card {
		img {
      width: 20%;
			border-radius: 50%;
      padding: 0;
      display: block;
			border: 10px solid #eaeefa;
			box-shadow: -6px -6px 20px 10px #ffffff, 6px 6px 25px 5px #a2a6b9;
		}
		@media (max-width: 768px) {
			img {
        width: 100%;
      }
		}
		.name {
			padding: 1.5em 0 .5em 0;
		}
		.location {
			padding: .3em 0;
			font-size: 1.2em;
			font-style: italic;
			margin-left: 1em;
			span {
				position: relative;
				&::before {
					content: '';
					background: url('../../assets/image/location.png') center center / cover no-repeat;
					position: absolute;
					width: 1.5em;
					height: 2em;
					left: -2em;
					font-size: .8em;
				}
			}
		}
		.rating {
			font-size: 1.2em;
			font-weight: 500;
			padding: .2em 0;
		}
		.reviews {
			padding: .2em 0;
			font-size: 1.2em;
			font-weight: 700;
		}
		.description {
			padding: .2em 0;
			font-size: 1.2em;
		}
		.services {
			h4 {
				padding: .7em 0 0 0;
			}
		}
		.assessments {
			h4 {
				padding: .7em 0 0 0;
			}
			ul {
				li {
					display: flex;
					justify-content: center;
				}
				@media (max-width: 768px) {
					li {
						display: grid;
						justify-content: center;
					}
				}
			}
		}
	}
}
